body:lang(en) {
    font-family: 'Itim', cursive;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Prompt', sans-serif;
}

body:lang(th-TH) {}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4150035014005602) 0%, rgba(255, 247, 246, 0.3337710084033614) 38%, rgba(255, 216, 212, 0.5858718487394958) 100%);
}



header {
    color: rgb(255, 108, 92);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

*::selection {
    background-color: salmon;
    color: white;
}

header h1 {
    margin: 5% 0;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: inherit;
    flex-grow: 1;
    margin-bottom: 2%;
}

nav div {
    min-width: 70px;
    width: 15%;
    height: auto;
    background-color: salmon;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
    border-bottom: 1px rgba(255, 235, 233, 0.542) solid;
    border-radius: 15px;
    margin: 1% 2%;
    box-sizing: border-box;
    padding: 0.5%;
}

nav div:nth-of-type(3) {
    min-width: 120px;
}

nav div:nth-of-type(4) {
    min-width: 100px;
}

nav div:hover {
    background-color: rgb(255, 164, 154);
    cursor: pointer;
}

nav div:active {
    background-color: rgba(255, 164, 154, 0.405);
}

nav h2:last-child {
    margin-bottom: 10px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.firsttext {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.greeting h2 {
    color: salmon;
    font-size: 2rem;
    font-weight: bold;
}

.greeting {
    margin-bottom: 2%;
}

img {
    display: inline;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5px 0;
}

.side h2 {
    color: salmon;
}

.side ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.side ul div {
    background-color: #fa8072;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    margin: 3px 5px;
    padding: 1% 2%;
    color: white;
}

.side ul div:hover {
    background-color: rgb(255, 164, 154);
    cursor: pointer;
}

.side ul div:active {
    background-color: rgba(255, 164, 154, 0.405);
}

.footer {
    margin-top: 20px;
    height: auto;
    width: 100%;
    color: white;
    background-color: salmon;
    text-align: right;
}

.footer span {
    font-weight: bold;
}


/* Next part is for >1024px wide screen */

@media (min-width: 850px) {
    nav {
        max-width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav div {
        font-size: 0.9em;
        width: 125px;
        border-radius: 15px;
        margin: 3% auto;
        box-sizing: border-box;
        padding: 0.5% 3%;
    }
    
    nav div:nth-of-type(3){
    width: 150px;
    }

    nav div:nth-of-type(4){
        width: 150px;
        }
    section {
        width: 95%;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 3%;
    }
    img {
        max-width: 960px;
        width: 20%;
        transition: all 0.3s;
        object-fit: cover;
    }
    img:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    img:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    img:hover {
        transform: scale(1.5);
        object-fit: cover;
        border-radius: 20px;
    }
    img:active {
        transform: translateY(0.25eem));
    }
    .firsttext {
        width: 95%;
        display: flex;
        margin: 10px 0;
        padding: 1px;
        flex-direction: row;
        justify-content: space-between;
    }
    .greeting {
        padding: 1%;
        margin-bottom: 10%
    }
    .greeting h2 {
        font-size: 2rem;
        font-weight: bolder;
    }
    div.side {
        padding: 1%;
        margin-top: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: left;
        padding: 0;
    }
    div.side h2 {
        height: 20px;
        margin-top: 0 0;
        font-size: 2rem;
        padding: 1%;
        text-align: center;
        box-sizing: border-box;
    }
    ul.side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        flex-wrap: wrap;
    }
    ul.side div {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        background-color: salmon;
        border-radius: 10px;
        margin: 3px 0;
        margin-left: 17.5%;
        padding: 3%;
        display: inline;
        transition: all 0.1s linear;
    }
    .side ul div:first-child {
        width: 45px;
    }
    .side ul div:nth-of-type(2) {
        width: 60px;
        ;
    }
    .side ul div:nth-of-type(3) {
        width: 30px;
        ;
    }
    .side ul div:nth-of-type(4) {
        width: 70px;
        ;
    }
    .side ul div:nth-of-type(5) {
        width: 60px;
        ;
    }
    .side ul div:nth-of-type(6) {
        width: 70px;
        ;
    }
    .side ul div:nth-of-type(7) {
        width: 70px;
        ;
    }
    .side ul div:last-child {
        width: 70px;
        ;
    }
    .side ul div:hover {
        background-color: rgb(255, 164, 154);
        cursor: pointer;
        transform: scale(0.9);
    }
    .side ul div:active {
        background-color: rgba(255, 164, 154, 0.405);
    }
    .footer {
        position: fixed;
        bottom: 0;
    }
}